a{
    display: block;
    background: #64ff77;
    color: #fff;
}
a:hover{
    color: gold;
}
html,body{
    height:100%;
    background:  #dd3561;
    border: 0;
    margin: 0;
}
a:nth-of-type(2){
    background:  #64ff77;
}
a:nth-of-type(3){
    background: #64ff77;
}
a:nth-of-type(4){
    background: #64ff77;
}
a:nth-of-type(5){
    background: #64ff77;
}
a:nth-of-type(6){
    background: #f4ec8c;
}a:nth-of-type(7){
     background: #f4ec8c;
 }

a:nth-of-type(8){
    background:  #f4ec8c;
}
a:nth-of-type(9){
    background: #f4ec8c;
}
a:nth-of-type(10){
    background:  #f4ec8c;
}
a:nth-of-type(11){
    background: #f4ec8c;
}
a:nth-of-type(12){
    background:  #f4ec8c;
}
a:nth-of-type(13){
    background:  #f4ec8c;
}
a:nth-of-type(14){
    background:  #f9a79a;
}
a:nth-of-type(15){
    background:  #f9a79a;
}
a:nth-of-type(16){
    background: #f9a79a;
}
a:nth-of-type(17){
    background:  #f9a79a;
}
a:nth-of-type(18){
    background: #f9a79a;
}
a:nth-of-type(19){
    background:#dd3561;
}
a:nth-of-type(20){
    background:#dd3561;
}
a:nth-of-type(21){
    background:#dd3561;
}
a:nth-of-type(22){
    background: #dd3561;
}
a:nth-of-type(23){
    background: #dd3561;
}








