div,input,a,body,ul,li,figure{margin:0;padding:0;
    border:0;
    list-style: none;
    font-family: "微软雅黑";

}
a{text-decoreation:none;
    font-size:14px;
    color:#000;}
img{
    border:none;
}

*{box-sizing:border-box}

/*1*/
.topbox{
    width:100%; height:40px;background:#444444;
}

.topboxright{width:100px;height:40px;display:block;float:right;
    line-height:40px;text-align:center;color:#8c8c8e;font-size:12px;
    text-align:justify;
}


/*导航*/

.guide{ width:100%;
    height:44px;
    background: #313131;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}


.guidebox{
    width:1000px;
    height:44px;
    background: #313131;
    margin:0 auto;
color:#fff;  text-align:justify;}

.guidebox:after{content:"";
    display:inline-block;
    width:100%
}

.box0{width:17px; height:25px;
    background:url(../image/caidan.png) no-repeat;
    background-position:0 5px;
    cursor:pointer;
    display:none;
    margin-top:10px;
}


.box1{width:17px; height:30px;

background:url(../image/dh1.png) no-repeat;
    background-position:0 11px;
    display:inline-block;
}

.box2{ height:44px;display:inline-block;
    color:#fff;line-height:42px; text-decoration:none;}




.box3{width:17px;height:29px;display:inline-block;
    background:url(../image/dh2.png)no-repeat ;
background-position:0 11px;}


.box4{width:14px; height:29px;display:inline-block;
    background:url(../image/dh3.png)no-repeat;
    background-position:0 11px;
}

.guide a:hover{
    color: #ccc;
}


@media screen and (max-width:1068px){
    .guidebox{width:100%;
        padding:0 20px;}
}
@media screen and (max-width:735px){
    .box0{display:inline-block;}
    .box2{display:none;}
    .box3{display:none;}



}

/*banner*/
.banner-container{width:100%;height:auto;}



/*.banner-tittle{width:100%;height:120px;background:#f29b30;*/
/*margin:0 auto;*/
/*text-align:center;*/
/*padding-top:50px;*/
/*font-size:30px;color:#fff;*/
/*z-index:99}*/

.banner-container a{
    display:block;
    width:100%;
    height:496px;
    background:url(../image/banner4.jpg) no-repeat ;
    background-size:cover;

    background-position: 0 -65px;
}
@media screen and (max-width:1068px){
    .banner-container a{

        height:362px;
        background:url(../image/banner5.jpg) no-repeat ;
        background-position: center;
        background-size: 100% auto;
    }
}
@media screen and (max-width:735px){
    .banner-container a{

        height:282px;
        background:url(../image/banner6.jpg) no-repeat center top ;
         background-size:  cover;

    }
}



.thirdtopbox{width:100%; height:160px;background:#f29b30;
display:block;text-align:center;line-height:80px;font-size:24px;
color:#fff;}





.forthbox{width:100%; height:460px;
    background:url(../image/banner4.jpg) no-repeat;
    background-size:100% auto;
top:84px;left:0;z-index:-1;
background-position:center;}

/*响应式*/

.container{width:100%;
padding:1px;
    box-sizing:border-box;}


.image{width:25%;height:200px;
    float:left;
    box-sizing:border-box;
    background-position:center;
}


.image:nth-child(1) {
    border-right:1px solid #fff;
background:url("../image/little1.jpg") no-repeat;
    background-position:center;
}
.image:nth-child(2) {
    border-right:1px solid #fff;
    background:url("../image/little2.jpg") no-repeat;
    background-position:center;
}
.image:nth-child(3) {
    border-right:1px solid #fff;
    background:url("../image/little3.jpg") no-repeat;
    background-position:center;
}
.image:nth-child(4) {

    background:url("../image/little4.jpg") no-repeat;
    background-position:center;
}
@media screen and (max-width:1068px){
.image{width:50%;height:200px;
float:left;
    box-sizing:border-box;
    background-position:center;}

    .image:nth-child(1){
        border-right:1px solid #fff;
        background:url("../image/middle1.jpg") no-repeat;


        float:left;
        background-position:center;
    }




    .image:nth-child(2){
        border-right:1px solid #fff;
        background:url("../image/middle2.jpg") no-repeat;

        float:left;
        background-position:center;
    }


    .image:nth-child(3){
        border-right:1px solid #fff;
        background:url("../image/middle3.jpg") no-repeat;

        float:left;
        background-position:center;
    }


    .image:nth-child(4){

        background:url("../image/middle4.jpg") no-repeat;

        float:left;
        background-position:center;
    }





}
@media screen and (max-width:735px){
    .image{width:100%;height:200px;
        float:left;
        box-sizing:border-box;
        background-position:center;}

    .image:nth-child(1){
        border-right:1px solid #fff;
        background:url("../image/little1.jpg") no-repeat;


        float:left;
        background-position:center;
    }




    .image:nth-child(2){
        border-right:1px solid #fff;
        background:url("../image/little2.jpg") no-repeat;

        float:left;
        background-position:center;
    }


    .image:nth-child(3){
        border-right:1px solid #fff;
        background:url("../image/little3.jpg") no-repeat;

        float:left;
        background-position:center;
    }


    .image:nth-child(4){

        background:url("../image/little4.jpg") no-repeat;

        float:left;
        background-position:center;
    }





}








/*横行*/


.camera{width:100%;height:auto;border-bottom:1px solid #ccc;
     background:#f2f2f2;line-height:48px;float:left;
     margin:0 auto;font-size:12px ;color:#a0a0a0;
 }
.camera .box{width:auto;
height:auto;
    margin-left:140px;
}
@media screen and (max-width:1068px){
   .camera .box{margin-left:0px;}


}


/*下方*/


.footer{width:100%;height:300px;
   float:left;margin:0 auto;}

.footer-containera{width:1068px;height:auto;margin:0 auto;}




.footer-container{width:20%;height:auto;margin-top:18px;font-size:12px;
float:left;}

li{list-style:none;}

.footer-containera .little-box{width:20%;height:auto;float:left}
.footer-container1{width:100%;height:auto;margin-top:18px;font-size:12px;
    float:left;}
.footer-container2{width:100%;height:auto;margin-top:18px;font-size:12px;
}






li a{width:115px;  height:20px;   display:block;
    line-height:20px;text-decoration:none;color:#66779c;
    color:#71726e;
    font-size:12px;
}
li a:hover{  color:#000;
    text-decoration: underline;

}







body{background:#f2f2f2}

/*文字响应式*/

@media screen and (max-width:1068px) {
    .footer-containera {
        width: 100%;
    }


}

    @media screen and (max-width:735PX) {
        .footer-container{width:100%;height:auto;

        }
        .footer-containera .little-box{width:100%;height:auto;float:left}
            .footer-container a{display:none;}
        .footer-container1 a{display:none;}
            .footer-container1 .word10{
                width:100%;
                border-bottom: 1px solid #ccc;}
        .footer-container .word10{
            width:100%;
            border-bottom: 1px solid #ccc;}



        }





/*down*/
.down-container{width:100%;height:auto;}

.downbox{width:auto;height:auto;
    margin-top:500px;margin-left:150px;
    margin-right:300px;

    }

.downbox div{width:auto;height:20px;color:#ccc;
    margin-top:10px;float:left;}
.downbox .wl{width:auto;height:20px;color:#ccc;
    margin-top:10px;float:left;}
.downbox a{width:auto;height:20px;
    display:block;float:left;margin-top:10px;
text-decoration: none;
}
.downbox a:hover{
    text-decoration: underline;
}

.downbox .aa{width:auto;height:20px;color:#35a2df;
    display:block;float:left;margin-top:10px;}

.downbox .w3{width:auto;height:20px;
    margin-top:10px;}
.downbox .w2{width:auto;height:20px;
    margin-top:10px;float:left;}
.downbox .w5{width:auto;height:20px;
    margin-top:10px;}

@media screen and (max-width:1068px){
    .downbox{width:100%;margin-left:0;
        margin-right:0;
    }


}

@media screen and (max-width:717px){
    .downbox{width:100%;margin-left:0}


}

